// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$yellow: #FAE0AB;

$bordeaux: #943938;
$orange: #CE8147;
$jaune: #FAE0AB;
$gris: #C9C8C3;
$gris-fonce: #4D4D40;

