// Specific CSS for your home-page
// Image logo
.logo img{
  display:block;
  width: 446px;
  height: 224px;
  margin-left: auto;
  margin-right: auto;
  padding-top:20px;
}
.logo {
  display:flex;
  height:250px;
  padding:10px;
  justify-content: center;
  }


// Text description after logo
.description-home h1{
  color: $jaune;
  font-size: 50px;
  margin-top:100px;
}

.description-text p{
  color: $gris;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
.arrow img{
  width:120px;
}
