* {
  box-sizing: border-box;
}


.btn {
  display: inline-block;
  color: $gris;
  min-width: 154px;
  text-decoration: none;
  position: relative;
  text-align: center;
  font-family: $title-logo;
  font-size: 28px;

  &:hover {
    .button-stroke:nth-child(2) {
      stroke-dashoffset: 0;
    }
  }
}

.button-stroke {
  display: block;
  width: calc(100% - 40px);
  height: 20px;
  stroke: $orange;
  position: absolute;
  left: 20px;
  bottom: -10px;
  stroke-width: 4;

  &:nth-child(2) {
    stroke-dasharray: 650px;
    stroke-dashoffset: 650px;
    stroke: darken($yellow, 10%);
    stroke-width: 5;
    transition: stroke-dashoffset 800ms ease-out;
  }
}

.btn-login{
  font-size: 42px;
  margin-bottom : 20px;
}

.btn-logout{
  text-align: right;
  background-color: $bordeaux;
  color:$yellow;
  width:150px;
  height:40px;
  font-family:$title-logo;
  font-size:25px;
  text-align:center;
  text-decoration:none;
  border-radius: 5px;
  border : 1px solid $yellow;
  margin-right: 10px;
  margin-top:70px;
  flex: 0 1 auto;
  margin-left: auto;              /* new */
}

.btn-logout a{
  text-decoration:none;
  color:$yellow;
}
