.card-category{
  position: relative;
  text-align: center;
  color: white;
  width:150px;
  height:150px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
