
// Home containter
.container-home{
  background-color: $bordeaux;
  height: 70%;
}

.description-home{
  width:60%;
  margin: 0 auto;
  text-align:center;
  margin-top: -50px;
}

.btn-container {
  margin-top: 60px;
  text-align: center;

}
