
// Home containter
.container-home{
  background-color: $bordeaux;
  height:120%;
}

.description-home{
  width:60%;
  margin: 0 auto;
  text-align:center;
  margin-top: -50px;
}

.btn-container {
  margin-top:200px;
  text-align: right;

}
