
// Home containter
.container-home-red{
  background-color: $bordeaux;
  top: -22px;
}

.description-home{
  width:70%;
  margin: 0 auto;
  text-align:center;
  margin-top: -50px;
}
.description-home span{
 font-family: $title-logo;
 font-weight: 100;
 font-size: 75px;
}
.description-famille{

}
.description-famille{
  color:$orange;
  font-family: $title-logo;
  font-size: 65px;
  margin: 0 auto;
  width: 30%;
  text-align:center;
  width:70%;
  margin-left:300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-container {
  margin-top: 34px;
  text-align: center;
  font-style: $title-logo;
}

.card-container{
  display:flex;
  margin: 0 auto;
  width:45%;
  justify-content: space-around;
}

.tuto{
  display:flex;
  margin: 0 auto;
  width:60%;
  justify-content: space-around;
}
