/*flash*/
.alert-error {
    background-color: #f2dede;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    color: #468847;
    text-align: left;
 }

.alert {
  background-color: $yellow;
  color : $bordeaux;
  border-color: $bordeaux;
  border-radius: 5px;
  width: 15%;
}
