.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 50%;
  padding: 16px;
  font-family: $second-font;
  font-weight: bold;
  color: $bordeaux;
}
.modal-content a{
  width: 80%;
  color: $gris-fonce;
  padding-left: 15px;
  margin-bottom: 0px;
  margin: 0 auto;
  border-bottom: 1px solid $orange;
  font-size: 10px;
  text-align: center;
}

// Inside the pop-over
.form-group{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.form-inputs{
  margin-bottom:30px;
}
.form-control::placeholder{
font-style: italic;
}
.form-actions{
  margin:0 auto;
  width:50%;
  text-align:center;
  background-color: $bordeaux;
  text-color:white;
  border-radius:15px;
  margin-bottom:10px;
}
.form-actions .btn{
  color:white;
}

// Pop over card

.card-body{
  padding:0.75rem;
  color: $bordeaux;
}
.card-body h3{
  color: $bordeaux;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
