

<!-- Red container  -->
<div class="container-home-red">
  <!-- Se deconnecter bouton  -->
  <div class="logo">
    <%= image_tag "logo_transparent.png", alt: "alttext" %>
      <div class="btn-logout">
        <%= link_to new_user_registration_path do %>
        S'inscrire
      <% end %>
    </div>
  </div>


  <div class="description-home">
    <h1> Bienvenue sur <span> Les recettes de nos mamies ! </span> </h1>
  </div>
  <div class="description-text">
    <p>Nous avons crees ce site pour vous permettre de partager, en famille, vos meilleures recettes.
    Celles de vos mamies, de votre maman, de vos freres & soeurs...
    Retrouvez facilement leurs meilleures recettes, et n hesitez pas a les commenter ! </p>
  </div>


    <div class="btn-container">
      <!-- tu as des methodes user.is_sing_in? ou qqchose comme ca -->
      <% if current_user == nil %>
        <svg id="stroke" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
          <defs>
            <path id="line" d="M2 2c49.7 2.6 100 3.1 150 1.7-46.5 2-93 4.4-139.2 7.3 45.2-1.5 90.6-1.8 135.8-.6" fill="none" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"/>
          </defs>
        </svg>
        <a class="btn btn-login" id="modal-button" href= "#" > Se connecter
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
        </a>
      <% else %>
        <!-- Mes recettes -->
        <svg id="stroke" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
          <defs>
            <path id="line" d="M2 2c49.7 2.6 100 3.1 150 1.7-46.5 2-93 4.4-139.2 7.3 45.2-1.5 90.6-1.8 135.8-.6" fill="none" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"/>
          </defs>
        </svg>
        <a class="btn btn-login" href= "./users/:id" > Mes recettes
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
        </a>
      <% end %>
    </div>
</div>


        <!-- Carte container  -->
        <!-- Indentation -->
      <div class="description-famille">
        Comment ca marche ?
      </div>


